/* Mobile & Full Site CSS3 Framework
desktop.css:
- View designed for desktops w/ large displays
* Requires style.css

*/


#main {
	margin: 0 auto;
	width: 865px;
	box-shadow: 0 2px 10px #000;
	-webkit-box-shadow: 0px 2px 10px #000;
	-moz-box-shadow: 0 2px 10px #000;
}




#menu {
	width: 270px;
	float: left;
	padding: 20px 10px;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#menu ul {
	border: 0;
	padding: 10px;
	border-radius: .6em .6em;
	-moz-border-radius: .6em .6em;
	margin-bottom: 20px;
}
#menu a {
	clear: both;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}


#contentcontainer {
	width: 540px;
	float: left;
}



#footercontainer {
	clear: both;
}




.sidebox {
	display: block;
}